*{
	font-family: courier New;
	margin: 0;
	padding: 0;
}
.container{
	margin: 0 auto;
	/*background-size: 100%;*/
	background-color: #2F4F4F;
	width: 1300px;
}

h1{
	float: left;
	font-size: 60px;
	color: white;
	text-shadow: 2px 1px;
}
#menu{
	float: right;
	padding: 0;

}
#menu a{
	text-shadow: 1px 1px;
	text-decoration: none;
	padding: 20px;
	color: white;
}
#divesquerda{
	clear: both;
	text-align: center;
	float: left;
	width: 20%;
	background-color: red;
}
#categoria{
	line-height: 30px;
	background-color: #696969;
	height: 455px;
	padding: 40px;
}
#categoria a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	text-shadow: 1px 1px;
}
#categoria a:hover{
	padding: 10px;
	color: #add8e6;
	background-color: orange;
}

#divdireita{
	text-align: center;
	float: right;
	background-color: green;
	width: 80%;
}

table{
		background-color: #696969;
		border-spacing: 20px 20px;
}
img{
	height: 100px;
	width: 100px;
}
th{
	background-color: orange;
	color: purple;
	padding: 10px;
}
td{
	background-color: yellow;
	color: purple;
	padding: 3px;
}
footer{
	clear: both;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 10px;
}